@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header{
    margin-bottom: 100px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.red-btn{
    color: #fff;
    text-decoration: none;
    background-color: #DD0000;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 700;
}

.white-btn{
    color: #000;
    text-decoration: none;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 700;
}

/* Banner section start */

.banner-section{
    width: 80%;
    background-color: #161616;
    border-radius: 10px;
    height: 500px;
    justify-content: space-around;
}

.half-width{
    width: 40%;
    height: 100%;
}

h1{
    color: #fff;
    font-size: 50px;
}

header p{
    color: #fff;
    margin-bottom: 40px;
}

header img{
    height: 100%;
}

/* Banner section end */

/* Blog section start */

main{
    margin-bottom: 200px;
}

.blog-section{
    display: flex;
    width: 80%;
}

aside{
    background-color: #161616;
    flex-direction: column;
    border-radius: 10px;
    height: 220px;
    margin-right: 20px;
}

aside>a{
    margin: 10px 15px;
    width: 200px;
}

.blog-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.transfer-btn{
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    padding: 5px 15px;
    border-radius: 8px;
    font-weight: 600;
    text-align: center;
}

.blog{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 15px;
}

.blog-text{
    padding: 20px;
}

.blog img{
    margin-bottom: 20px;
}

.blog a{
    width: 20%;
}

.blog p{
    font-weight: 600;
}

.blog span{
    margin-right: 30px;
}

.blog i{
    margin-right: 5px;
    color: rgb(71, 71, 71);
}

/* Blog section end */

/* Footer section start */

footer{
    height: 400px;
    background-color: #161616;
}

.footer-section{
    flex-direction: column;
    width: 100%;
}

footer h2{
    color: #fff;
    font-size: 40px;
}

hr{
    width: 80%;
    border: 1px solid rgb(156, 156, 156);
    margin-bottom: 30px;
}

footer ul li{
    list-style-type: none;
    color: rgb(156, 156, 156);
    margin: 0 20px;
}

.footer-socials{
    font-size: 30px;
}

footer small {
    color: rgb(156, 156, 156);
}

/* Footer section end */

/* -------- Media Queries Start -------- */

@media only screen and (max-width: 768px) {
    header{
        width: 100%;
    }

    .banner-section{
        text-align: center;
        width: 90%;
        flex-direction: column;
        height: 100vh;
        padding: 0 10px;
    }

    .banner-section h1{
        font-size: 30px;
    }

    .banner-section p{
        font-size: 15px;
    }

    .half-width{
        width: 100%;
    }

    .banner-section img{
        width: 80%;
    }

    .blog-section{
        flex-direction: column;
    }

    .blog-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    aside{
        background-color: #fff;
    }
    
    aside>a{
        margin: 10px 15px;
        width: 100%;
        border: 1px solid #161616;
    }

    aside>a:active{
        border: none;
    }

    .footer-links ul{
        flex-direction: column;
        padding: 0;
    }

    footer{
        height: 100vh;
    }
    
    footer ul li{
        margin: 10px 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    header{
        width: 100%;
    }

    .half-width{
        width: 100%;
    }

    .banner-section{
        height: 400px;
        padding: 0 20px;
    }

    .banner-section h1 {
        font-size: 30px;
    }

    .banner-section p{
        font-size: 15px;
    }

    .banner-section img{
        width: 100%;
    }

    .blog-section{
        flex-direction: column;
    }

    .blog-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    aside{
        background-color: #fff;
        flex-direction: row;
        text-align: center;
    }
    
    aside>a{
        margin: 10px 15px;
        width: 100%;
        border: 1px solid #161616;
    }

    aside>a:active{
        border: none;
    }

    .footer-links ul{
        flex-direction: column;
        padding: 0;
    }

    footer{
        height: 100vh;
    }
    
    footer ul li{
        margin: 10px 20px;
    }
}

/* -------- Media Queries End -------- */