@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header{
    margin-bottom: 100px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.red-btn{
    color: #fff;
    text-decoration: none;
    background-color: #DD0000;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 700;
}

.white-btn{
    color: #000;
    text-decoration: none;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 700;
}

/* Banner section start */

.banner-section{
    width: 80%;
    background-color: #161616;
    border-radius: 10px;
    height: 500px;
    justify-content: space-around;
}

.half-width{
    width: 40%;
    height: 100%;
}

h1{
    color: #fff;
    font-size: 50px;
}

header p{
    color: #fff;
    margin-bottom: 40px;
}

header img{
    height: 100%;
}

/* Banner section end */

/* Blog section start */

.blog-section{
    display: flex;
    width: 80%;
}

aside{
    background-color: #161616;
    flex-direction: column;
    border-radius: 10px;
    height: 220px;
    margin-right: 20px;
}

aside>a{
    margin: 10px 15px;
    width: 200px;
}

.blog-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.transfer-btn{
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    padding: 5px 15px;
    border-radius: 8px;
    font-weight: 600;
    text-align: center;
}

.blog{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 15px;
}

.blog-text{
    padding: 20px;
}

.blog img{
    margin-bottom: 20px;
}

.blog a{
    width: 20%;
}

.blog p{
    font-weight: 600;
}

.blog span{
    margin: 0 20px;
}

.blog i{
    margin-right: 10px;
}

/* Blog section end */